@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   
}
.spinner {
    width: 56px;
    height: 56px;
    border: 6.7px solid #474bff;
    animation: spinner-kk2y8v 3s infinite;
 }
 
 @keyframes spinner-kk2y8v {
    0% {
       transform: rotate(0deg);
    }
 
    10%, 15% {
       transform: rotate(-90deg);
    }
 
    20%, 25% {
       transform: rotate(-180deg);
    }
 
    30%, 35% {
       transform: rotate(-270deg);
    }
 
    40%, 50% {
       transform: rotate(-360deg);
    }
 
    100% {
       transform: rotate(720deg);
    }
 }


 textarea .keyword {
    color: blue;
    font-weight: bold;
  }
  
  textarea .operator {
    color: red;
  }


  .corefeaturesection{
   background-size: 100% 100%;
   padding-top: 12rem;
   padding-bottom: 12rem;
}

.ctaSection{
 background-size: 100% 100%;
}

.companiesList{
 animation: 10s infinite linear moveCompany;
}

@keyframes moveCompany {
 0%{
   top:0;
 }
 100%{
   top:-50%;
 }
}

.gradientBg{
   background: linear-gradient(180deg, rgba(15,23,45), #fff0)
}


